@font-face {
    font-family: "special";
    src: url("fontes-usadas/Championship.ttf") format("truetype");
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family:"title-special" ;
    src: url("fontes-usadas/Decaydence.otf") format("opentype");
}
@font-face {
    font-family:"num" ;
    src: url("fontes-usadas/Numero\ 10\ Clean.ttf") format("truetype");
}
@media(max-width:742px){
    header{
    padding:59px !important;
    }
}
html{
    font-size:19px;
}
:root{
    --fonte-titulo:"title-special";
    --fonte-subtitulo:"special";
    --verde-neon:#39ff14;
    --verde-neon-escuro:#2BAE3F;
    --verde-azulado:#4EBF5F;
    --verde-azulado-claro:#A9E2B2;
    --cinza-esverdeado:#85AD8B;
}
p{
    text-align:justify;
    font:normal lighter 1rem "Arial","Times New Roman","sans-serif";
    line-height:25px;
}

body{
    background-color:black;
    margin:0px;
}
header{
    background-color:black;
    color:white;
    border:3px solid rgb(18, 218, 18);
    width:99.5%;
    height:300px;
    padding:40px;
    overflow-x:hidden;
    margin-left:2px;
    border-radius:10px;
    box-sizing:border-box;
    overflow-y:hidden;
}
nav{
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    margin-left:-30px;
}
.centralizar{
    display:flex;
    flex-flow: column nowrap;
    justify-content:center;    
}

.link{
  margin-right:10px;
  margin-bottom:10px;
}
.link>a{
    font-family:"special","Arial";
   color:#39ff14;
   text-decoration:none;
   font-size:20px;
}
.link>a:hover{
    text-decoration:underline;
    background-color:#2BAE3F;
    color:white;
    transition-duration:0.4s;
    border-radius:8px;
    padding:3px;   
}
#container-pai-header{
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    width:100%;
    height:93%;
    overflow-x:hidden;
    overflow-y:hidden;
    margin:0px;
    
}
#img-animation{
    width:98vw;
    max-width:98vw;    
    height:28vh;                
    margin-top:-50px;
}
#img-animation-2{
    width:9vw;
    max-width:9vw;
    height:10vh;
    margin-top:-12px;
}
#container-filho-header{
    width:100%;
     height:auto;
     display:flex;
     flex-flow: row nowrap;
     justify-content: center;


}
header>#container-pai-header>#container-filho-header>h1{
    font:normal 500 30px var(--fonte-titulo),"sans-serif";
    color:var(--verde-neon-escuro);
    text-align:center;
    text-shadow: 0px 0px 3px white,
    0px 0px 6px var(--verde-neon),
    0px 0px 9px green,
    0px 0px 12px green;
    margin-bottom:0px;
    margin-top:-1px;
    margin-right:0px;
    margin-left:0px;  
}
main{
    background-color:white;
    border-radius:5px;
    height:auto;
    margin:auto;
    width:85vw;
    border:3px solid black;
    outline:3px solid var(--verde-neon);
    overflow-x:hidden;
}
article>h2,article>div>h2{
    color:var(--verde-neon-escuro);
    text-shadow: 0px 0px 3px white,
    0px 0px 6px var(--verde-neon),
    0px 0px 9px green,
    0px 0px 12px green;
    font-size:20px;
    font-family:var(--fonte-titulo);
    margin-left:5px;
}
#dicas{
    background-color:white;
    width:85vw;
    height:auto;
}
.num{
    font-family:"num";
    font-size:28px;
    color:green;
}
.container-dicas{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
}
#sp1,#sp2{
    margin-top:15px;
}

#h2-dicas-1,#h2-dicas-2{
    margin-left:15px;
}
.list-dicas{
    font-family:"num";
    font-size:25px;
    text-shadow:0px 0px 3px var(--verde-neon),
    0px 0px 6px var(--verde-neon),0px 0px 9px var(--verde-neon);
}
.paragrafo-list{
    margin-right:25px;
    
}
#conteudo-principal{
    background-color:white;
    width:85vw;
    height:auto;
}
mark{
    background-color:var(--verde-neon-escuro);
    width:auto;
    height:auto;

}
.center-img{
    display:flex;
    align-items:center;
    flex-direction:column;  
}
footer{
    width:99.5%;
    max-width:99.5%;
    height:8vh;
    background-color:black;
    border:3px solid var(--verde-neon);
    border-radius:5px;
    box-sizing:border-box;
    margin:auto;overflow:hidden;
    
}
footer>p{
    color:lime;
    text-align:center;
    font-family:var(--fonte-titulo);
}
#span-conteudo-1{
    font-family:"num";
    font-size:1.5rem;
    color:black;
    text-shadow:0px 0px 3px orangered,
    0px 0px 5px orange;
    
}
#span-conteudo-2{
    font-family:"num";
    font-size:1.5rem;
    color:black;
    text-shadow:0px 0px 3px rgb(22, 121, 174) ,
    0px 0px 5px rgb(22, 121, 174);
}